<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Recipies name</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
      <div class="dropdown show">
        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage Recipe
        </a>
      
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">To shopping list</a>
          <a class="dropdown-item" href="#">Edit recipe</a>
          <a class="dropdown-item" href="#">S</a>
        </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Description
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>
